body {
	background-color: #e2e5f5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	width: 100vw;
    font-family: 'Poppins', sans-serif;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 30rem;
	height: 40rem;
	background-color: white;
	border-radius: 0.6rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
form {
	position: relative;
	width: 25rem;
	height: 35rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
    margin: 0.1rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.subtitle{
    margin: 0.9rem;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.email-login {
	position: relative;
	width: 25rem;
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.cta-btn {
	width: 25rem;
	height: 5rem;
	border-radius: 0.8rem;
	background-color: #4544b5;
	border: #4544b5;
	color: white;
    margin-top: 2rem;    
}
.forget-pass {
	width: 25rem;
	height: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
img {
	width: 2rem;
	height: 2rem;
    padding: 0.3rem;
}
.social-login {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 25rem;
}
.google-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	border-radius: 0.6rem;
    border: 2px solid #F1F1F1;
	background-color: white;
	font-weight: 700;
	padding: 0.4rem;
	width: 21rem;
}
.fb-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 0.6rem;
	background-color: white;
	font-weight: 700;
	padding: 0.4rem;
    border: 2px solid #44489F;
}
.line{
	color: #F1F1F1;
}
label{
    color:#A5A5A5;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    margin: 0.5rem;
}
input{
    border-radius: 0.6rem;
    width: 22rem;
    height: 0.2rem;
    border: 2px solid #F1F1F1;
    padding: 1.5rem;
}
a{
    text-decoration: none;
	color: #1702B7;
}
.forget-pass{
    font-weight: 700;
    font-size: 1.3rem;
    margin-top:0.8rem;
}
#or{
	font-weight: 800;
	font-size: 1.3rem;
}